
a {
    color:rgb(51, 85, 185);
}
body {
    background-color:#ededed;
    text-align: center;
    color: black;
    font-family:'Futura';
    margin-left: 100px;
    margin-right: 100px; 
}

#entrance {
    margin: 0 auto;
}

header {
    inherits: body;
    text-align: center;
    background-color: gold;
    padding-top: 2px;
    padding-bottom: 10px;
}

 h2 {
    margin: auto;
 }

.dataViewTable {
    border-collapse: collapse;
    width: 100%;
}

.dataViewTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.dataViewTable tr:nth-child(even){background-color: rgb(243, 208, 134);}


.dataViewTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

.dataViewButton {
    font-family: Futura;
    color: gray;
}

footer{
    position: bottom;
    bottom: 0;
    text-align: center;
    width: 100%;
   }